bin
bin/*
bin_cmake
3rdparty
3rdparty/*
data
data/*

# Visual Studio project files
*.user
*.suo
*.ipch
*.VC.VC.opendb
*.VC.opendb
*.VC.db-shm
*.VC.db-wal
*.VC.db

# Visual Studio Android environment
*.gradle/
*.dtbcache
*.dtbcache.v2

# Windows platform (compiled) resource files
res/**/win/**/*.res

# XCode temporary files
ProjectSettings.plist
ProjectSettings.plist.lock

# default build directories
ocean_build
ocean_build_thirdparty
ocean_install
ocean_install_thirdparty

install_ocean_thirdparty
build_ocean_thirdparty

build/gradle/ocean_build_gradle/
build/gradle/ocean_install_gradle/